@model IEnumerable<AmsaLomi.Models.Place>

@{
    ViewBag.Title = "Place Index";

    string searchString = "";
    object obj = null;
    bool success = ViewData.TryGetValue("searchString", out obj);
    if (success && obj != null)
    {
        searchString = obj.ToString();
    }

    int pageSize = 20;
    success = ViewData.TryGetValue("pageSize", out obj);
    if (success && obj != null)
    {
        pageSize = int.Parse(obj.ToString());
    }

    ViewDataDictionary dict = new ViewDataDictionary();
    dict.Add("parent", "index");
    dict.Add("searchString", searchString);
    dict.Add("pageSize", pageSize);
}

<div id="pagerContainer">
    <h2>Places Index</h2>

    @Html.Partial("_PlacesPartial", Model, dict)
</div>
