@{
    ViewBag.Title = "Home Page";
}

<div>
    <div id="map-div"></div>

    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/map/map-managment.js"></script>

    <br />
</div>

